asgiref==3.8.1
certifi==2024.12.14
charset-normalizer==3.4.1
dj-database-url==2.3.0
Django==4.2.16
django-drf-filepond==0.5.0
django-editorjs-fields==0.2.7
django-storages==1.14.4
djangorestframework==3.15.2
idna==3.10
psycopg2-binary==2.9.10
python-dotenv==1.0.1
requests==2.32.3
shortuuid==1.0.13
six==1.17.0
sqlparse==0.5.2
typing_extensions==4.12.2
urllib3==2.3.0
whitenoise==6.9.0
