{% extends 'forum/base.html' %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Welcome back {{user.first_name}}!</h1>
    </div>

    <div id="search-results" class="row"></div>

    <div class="row" id="post-list">
        {% for post in posts %}
        <div style = "max-width: 800px; margin: 0 auto; margin-bottom: .75rem;" class = "post-card-container" data-animate>
            {% include 'forum/components/post_card.html' with post=post %}
        </div>

        {% empty %}
            <div class="col-12">
                <p>No posts found.</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const postCards = document.querySelectorAll('[data-animate]');

        const observer = new IntersectionObserver((entries, observer) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    // Add animation class when the card is visible
                    entry.target.classList.add('animate-visible');
                    observer.unobserve(entry.target); // Stop observing once animated
                }
            });
        }, {
            threshold: 0.02 // Trigger when 2% of the card is visible
        });

        postCards.forEach(card => observer.observe(card));
    });
</script>
{% endblock %}