{% extends 'forum/base.html' %}


{% block content %}
<h1>
    Saved Posts
</h1>
{% if posts %}
<div class="row" id="post-list">
    {% for post in posts %}
        <div class="col-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content|truncatewords:30 }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="{% url 'post_detail' post.id %}" class="btn btn-primary">Read More</a>
                        <a href="{% url 'unsave_post' post.id %}" class="btn btn-danger btn-sm">Unsave</a>
                    </div>

                </div>
                <div class="card-footer text-muted">
                    Posted by {{ post.author.username }} on {{ post.created_at|date:"F d, Y" }}
                    <span class="badge bg-info">{{ post.tags.all|join:", " }}</span>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% else %}
<div class="alert alert-info">No posts found for the selected filters.</div>
{% endif %}
{% endblock %}
