.course-list {
    max-height: 300px;
    overflow-y: auto;
}

.course-item {
    padding: 8px;
    border-bottom: 1px solid #eee;
}

.course-item:last-child {
    border-bottom: none;
}

.course-item form {
    margin-left: 10px;
}

.course-item button {
    padding: 2px 8px;
}
.background_hue_slider::-webkit-slider-thumb {
    background: linear-gradient(
        to right,
        hsl(0, 97.7%, 83.1%),
        hsl(30, 97.7%, 83.1%),
        hsl(60, 97.7%, 83.1%),
        hsl(90, 97.7%, 83.1%),
        hsl(120, 97.7%, 83.1%),
        hsl(150, 97.7%, 83.1%),
        hsl(180, 97.7%, 83.1%),
        hsl(210, 97.7%, 83.1%),
        hsl(240, 97.7%, 83.1%),
        hsl(270, 97.7%, 83.1%),
        hsl(300, 97.7%, 83.1%),
        hsl(330, 97.7%, 83.1%),
        hsl(360, 97.7%, 83.1%)
      ) !important;      
}


.background_hue_slider::-moz-range-track {
    background: linear-gradient(
        to right,
        hsl(0, 97.7%, 83.1%),
        hsl(30, 97.7%, 83.1%),
        hsl(60, 97.7%, 83.1%),
        hsl(90, 97.7%, 83.1%),
        hsl(120, 97.7%, 83.1%),
        hsl(150, 97.7%, 83.1%),
        hsl(180, 97.7%, 83.1%),
        hsl(210, 97.7%, 83.1%),
        hsl(240, 97.7%, 83.1%),
        hsl(270, 97.7%, 83.1%),
        hsl(300, 97.7%, 83.1%),
        hsl(330, 97.7%, 83.1%),
        hsl(360, 97.7%, 83.1%)

      ) !important;  
  }

input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(
        to right,
        hsl(0, 97.7%, 83.1%),
        hsl(30, 97.7%, 83.1%),
        hsl(60, 97.7%, 83.1%),
        hsl(90, 97.7%, 83.1%),
        hsl(120, 97.7%, 83.1%),
        hsl(150, 97.7%, 83.1%),
        hsl(180, 97.7%, 83.1%),
        hsl(210, 97.7%, 83.1%),
        hsl(240, 97.7%, 83.1%),
        hsl(270, 97.7%, 83.1%),
        hsl(300, 97.7%, 83.1%),
        hsl(330, 97.7%, 83.1%),
        hsl(360, 97.7%, 83.1%)
      ) !important;  
  }

  #profile-tab{
    color: black;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

#preferences-tab{
    color: black;

}

#profile-tab.active, #preferences-tab.active {
    color: #0d6efd;
}


#profile-tab:hover,
#preferences-tab:hover {
    background-color: #f1f1f1;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#profileTabs {
    border-bottom: 1px solid white;
}